@config "./tailwind.config.js";
@import "tailwindcss";

/* Hide scrollbar for clean UI */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Masonry prevent break */
.break-inside-avoid {
    break-inside: avoid;
}

/* Modal animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-animate {
    animation: fadeIn 0.2s ease-out forwards;
}